<!-- HTML FOR JINJA2 - PART 2 -->
<!-- USE WIHT THE PYTHON FILE PROVIDED -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>movie durations</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>

    <body>
        <h2>This Collection Belongs to {{ name }} </h2>
        <!--the following url_for is ony for your understanding. dont include this in your projects-->
        <h3> Path to the css file: {{ url_for('static', filename='css/styles.css') }} </h3>

        <table>
            <tr>
                <th> movie </th>
                <th> rating </th>
                <th> comments </th>
            </tr>

            {% for movie, rating in movies.items() %}
                <tr>
                    <td> {{ movie }} </td>
                    <td> {{ rating }} </td>
                        {% if rating <= 2 %}
                            <td> meh </td>
                        {% elif rating >= 2 and rating <=3 %}
                            <td> okay </td>
                        {% else %}
                            <td style="color: green">good</td>
                        {% endif %}
                </tr>
            {% endfor %}
        </table>
    </body>
</html>